@font-face {
   font-family: 'Montserrat-Black';
   font-display: swap;
   src: url('file:///C:/Users/basil/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-12_202913/fonts/Montserrat-Black/font.ttf');
}
