@font-face {
   font-family: 'ProximaNova-Extrabld';
   font-display: swap;
   src: url('file:///C:/Users/basil/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-12_202913/fonts/ProximaNova-Extrabld/font.ttf');
}
